<div id="main">
    <!-- header -->
    <div id="header" class="small">
        <div class="row-1">
            <div class="wrapper">
                <div class="logo">
                    <h1><a href="#">Five Star</a></h1>
                    <em>Hotel</em> <strong>True Luxury</strong> </div>
                <div class="phones"> 1-800-412-45-56<br />
                    1-800-542-64-48 </div>
            </div>
        </div>
        <div class="row-2 alt">
            <div class="indent">
                <!-- header-box-small begin -->
                <div class="header-box-small">
                    <div class="inner">
                        <ul class="nav">
                          <!--
                            <li><a href="/login/index" class="current">Home page</a></li>
                            <li><a href="/login/booking/" >CheckAvailability</a></li>
                            <li><a href="services.html">Services</a></li>
                            <li><a href="gallery.html">Gallery</a></li>
                            <li><a href="restaurant.html" class="current">Restaurant</a></li>
                            <li><a href="testimonials.html">Testimonials</a></li>
                            <li><a href="booking.html">Booking</a></li>
                            -->
                        </ul>
                    </div>
                </div>
                <!-- header-box-small end -->
            </div>
        </div>
    </div>
    <!-- content -->
    <div id="content">
        <div class="gallery">
            <ul>
        <li><a href="#"><%= image_tag("2page-img1.jpg", :alt => "") %></li>
        <li><a href="#"><%= image_tag("2page-img2.jpg", :alt => "") %></li>
        <li><a href="#"><%= image_tag("2page-img3.jpg", :alt => "") %></li>
        <li><a href="#"><%= image_tag("2page-img4.jpg", :alt => "") %></li>
        <li><a href="#"><%= image_tag("2page-img5.jpg", :alt => "") %></li>
        <li><a href="#"><%= image_tag("2page-img6.jpg", :alt => "") %></li>
            </ul>
        </div>
        <div class="container">
            <!--
        <div class="aside maxheight">

          <div class="box maxheight">
            <div class="inner">
              <h3>Menu</h3>
              <ul class="list3">

                <li><a href="#">Specials</a></li>
                <li><a href="#">Lunch</a></li>
                <li><a href="#">Diner</a></li>
                <li><a href="#">Beverage</a></li>
                <li><a href="#">Winery</a></li>
                <li><a href="#">Dessert</a></li>
                <li><a href="#">Italian</a></li>
                <li><a href="#">French</a></li>
                <li><a href="#">German</a></li>

              </ul>
              <div class="button"><span><span><a href="#">Make Reservation</a></span></span></div>
            </div>
          </div>
            -->

            <!-- box end -->
        </div>
        <div class="content">
            <div class="indent">

                <h2>Done , Our hotel welcome to you !</h2>
                
                 <div class="aligncenter"><strong class="txt2"><p><a href="/reserve/">To Confirm Click here !!</a></p></strong></div>  



            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<!-- footer -->
<div id="footer">
    <ul class="nav">
        <!--
      <li><a href="#">Home</a>|</li>
      <li><a href="#">Services</a>|</li>
      <li><a href="#">Gallery</a>|</li>
      <li><a href="#">Restaurant</a>|</li>
      <li><a href="#">Testimonials</a>|</li>
      <li><a href="#">Booking</a></li>
      -->
    </ul>
    <div class="wrapper">
        <div class="fleft"> &copy;  <a href="#">Name Here</a>. </div>
        <div class="fright"> - <a href=""></a> provider</div>
    </div>
</div>
</div>
<div align=center> <a href=''></a></div>